.sp-button {
  height: var(--sp-button-size);
  background-color: var(--sp-button-bg-color);
  color: var(--sp-button-font-color);
  border: var(--sp-button-border-width) solid var(--sp-button-border-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  transition-property: color, background-color, border;
  transition-timing-function: ease;
  transition-duration: var(--sp-transition-duration-default);

  &:hover {
    background-color: var(--sp-button-hover-bg-color);
    color: var(--sp-button-hover-font-color);
    border: var(--sp-button-border-width) solid
      var(--sp-button-hover-border-color);
  }

  &:active {
    background-color: var(--sp-button-active-bg-color);
    color: var(--sp-button-active-font-color);
    border: var(--sp-button-border-width) solid
      var(--sp-button-active-border-color);
  }

  &.is-disabled {
    background-color: var(--sp-button-disabled-bg-color);
    color: var(--sp-button-disabled-font-color);
    border: var(--sp-button-border-width) solid
      var(--sp-button-disabled-border-color);
    cursor: not-allowed;

    &:hover {
      background-color: var(--sp-button-disabled-hover-bg-color);
      color: var(--sp-button-disabled-hover-font-color);
      border: var(--sp-button-border-width) solid
        var(--sp-button-disabled-hover-border-color);
    }

    &:active {
      background-color: var(--sp-button-disabled-active-bg-color);
      color: var(--sp-button-disabled-active-font-color);
      border: var(--sp-button-border-width) solid
        var(--sp-button-disabled-active-border-color);
    }
  }

  &.is-loading {
    background-color: var(--sp-button-loading-bg-color);
    color: var(--sp-button-loading-font-color);
    border: var(--sp-button-border-width) solid
      var(--sp-button-loading-border-color);
    position: relative;
    cursor: wait;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      animation: loadingFade 0.8s infinite alternate ease-in-out;
    }

    &:hover {
      background-color: var(--sp-button-loading-hover-bg-color);
      color: var(--sp-button-loading-hover-font-color);
      border: var(--sp-button-border-width) solid
        var(--sp-button-loading-hover-border-color);
    }

    &:active {
      background-color: var(--sp-button-loading-active-bg-color);
      color: var(--sp-button-loading-active-font-color);
      border: var(--sp-button-border-width) solid
        var(--sp-button-loading-active-border-color);
    }
  }

  @keyframes loadingFade {
    0% {
      background-color: rgba(0, 0, 0, 0.2);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

/* size */
.sp-button--extra-small {
  --sp-button-size: 24px;
  --sp-button-border-width: 1px;
}

.sp-button--small {
  --sp-button-size: 32px;
  --sp-button-border-width: 1px;
}

.sp-button--default {
  --sp-button-size: 40px;
  --sp-button-border-width: 1px;
}

.sp-button--large {
  --sp-button-size: 48px;
  --sp-button-border-width: 2px;
}

.sp-button--extra-large {
  --sp-button-size: 56px;
  --sp-button-border-width: 2px;
}

/* shape */
.sp-button--rectangle {
  border-radius: calc(var(--sp-button-size) / 16);
}

.sp-button--round {
  border-radius: 99999px;
}

.sp-button--circle {
  border-radius: 99999px;
  width: var(--sp-button-size);
}

/* type */
.sp-button--contained {
  --sp-button-bg-color: #343434;
  --sp-button-font-color: #ffffff;
  --sp-button-border-color: #343434;
  --sp-button-hover-bg-color: #404040;
  --sp-button-hover-font-color: #ffffff;
  --sp-button-hover-border-color: #343434;
  --sp-button-active-bg-color: #505050;
  --sp-button-active-font-color: #ffffff;
  --sp-button-active-border-color: #343434;
  /* disabled */
  --sp-button-disabled-bg-color: #343434;
  --sp-button-disabled-font-color: #ffffff;
  --sp-button-disabled-border-color: #343434;
  --sp-button-disabled-hover-bg-color: #404040;
  --sp-button-disabled-hover-font-color: #ffffff;
  --sp-button-disabled-hover-border-color: #343434;
  --sp-button-disabled-active-bg-color: #505050;
  --sp-button-disabled-active-font-color: #ffffff;
  --sp-button-disabled-active-border-color: #343434;
  /* loading */
  --sp-button-loading-bg-color: #343434;
  --sp-button-loading-font-color: #ffffff;
  --sp-button-loading-border-color: #343434;
  --sp-button-loading-hover-bg-color: #404040;
  --sp-button-loading-hover-font-color: #ffffff;
  --sp-button-loading-hover-border-color: #343434;
  --sp-button-loading-active-bg-color: #505050;
  --sp-button-loading-active-font-color: #ffffff;
  --sp-button-loading-active-border-color: #343434;

  padding: 0 calc(var(--sp-button-size) / 8 * 3);
  font-size: calc(var(--sp-button-size) / 16 * 7);
}

.sp-button--outlined {
  --sp-button-bg-color: transparent;
  --sp-button-font-color: #ffffff;
  --sp-button-border-color: #7c7c7c;
  --sp-button-hover-bg-color: transparent;
  --sp-button-hover-font-color: #ffffff;
  --sp-button-hover-border-color: #ffffff;
  --sp-button-active-bg-color: transparent;
  --sp-button-active-font-color: #7c7c7c;
  --sp-button-active-border-color: #7c7c7c;
  /* disabled */
  --sp-button-disabled-bg-color: transparent;
  --sp-button-disabled-font-color: #7c7c7c;
  --sp-button-disabled-border-color: #7c7c7c;
  --sp-button-disabled-hover-bg-color: transparent;
  --sp-button-disabled-hover-font-color: #7c7c7c;
  --sp-button-disabled-hover-border-color: #7c7c7c;
  --sp-button-disabled-active-bg-color: transparent;
  --sp-button-disabled-active-font-color: #7c7c7c;
  --sp-button-disabled-active-border-color: #7c7c7c;
  /* loading */
  --sp-button-loading-bg-color: transparent;
  --sp-button-loading-font-color: #7c7c7c;
  --sp-button-loading-border-color: #7c7c7c;
  --sp-button-loading-hover-bg-color: transparent;
  --sp-button-loading-hover-font-color: #7c7c7c;
  --sp-button-loading-hover-border-color: #7c7c7c;
  --sp-button-loading-active-bg-color: transparent;
  --sp-button-loading-active-font-color: #7c7c7c;
  --sp-button-loading-active-border-color: #7c7c7c;

  padding: 0 calc(var(--sp-button-size) / 2);
  font-size: calc(var(--sp-button-size) / 16 * 7);
  font-weight: bold;
}
