@font-face {
  font-family: 'SpotifyMixUI';
  src: url('./source/SpotifyMixUI-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'SpotifyMixUI';
  src: url('./source/SpotifyMixUI-Bold.woff2') format('woff2');
  font-weight: bold;
}
