@font-face {
  font-family: 'SpotifyMixUITitle';
  src: url('./source/SpotifyMixUITitleVariable.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  src: url('./source/SpotifyMixUITitle-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'SpotifyMixUITitle';
  src: url('./source/SpotifyMixUITitle-Extrabold.woff2') format('woff2');
  font-weight: 800;
}
