.sp-button {
  --sp-button-disabled-color: #b3b3b3;
  --sp-button-border-radius: calc(var(--sp-button-size) / 16);
  --sp-button-loading-mask-color: rgba(0, 0, 0, 0.4);
  --sp-button-loading-animation-duration: 1s;
  --sp-button-loading-timing-function: ease-in-out;
  --sp-button-transition-duration: var(--sp-transition-duration-default);
  --sp-button-transition-timing-function: ease;

  --sp-button-icon-size: calc(var(--sp-button-size) * 0.4);
  --sp-button-icon-margin: calc(var(--sp-button-size) / 4);

  --sp-button-contained-bg-color: #343434;
  --sp-button-contained-color: #ffffff;
  --sp-button-contained-hover-color: #404040;
  --sp-button-contained-active-color: #505050;
  --sp-button-contained-padding-x: calc(var(--sp-button-size) / 8 * 3);
  --sp-button-contained-actived-bg-color: #ffffff;
  --sp-button-contained-actived-color: #000000;
  --sp-button-contained-actived-hover-color: #f0f0f0;
  --sp-button-contained-actived-active-color: #c7c7c7;

  --sp-button-outlined-bg-color: transparent;
  --sp-button-outlined-color: #ffffff;
  --sp-button-outlined-border-color: #7c7c7c;
  --sp-button-outlined-hover-color: #ffffff;
  --sp-button-outlined-active-color: #7c7c7c;
  --sp-button-outlined-padding-x: calc(var(--sp-button-size) / 2);
  --sp-button-outlined-actived-bg-color: #ffffff;
  --sp-button-outlined-actived-color: #000000;
  --sp-button-outlined-actived-hover-color: #f0f0f0;
  --sp-button-outlined-actived-active-color: #c7c7c7;

  --sp-button-text-bg-color: transparent;
  --sp-button-text-color: #b3b3b3;
  --sp-button-text-hover-color: #ffffff;
  --sp-button-text-active-color: #b3b3b3;
  --sp-button-text-padding-x: calc(var(--sp-button-size) / 2);
  --sp-button-text-actived-color: #ffffff;
  --sp-button-text-actived-hover-color: #f0f0f0;
  --sp-button-text-actived-active-color: #c7c7c7;
}

.sp-button {
  height: var(--sp-button-size);
  font-family: inherit;
  font-size: calc(var(--sp-button-size) / 16 * 7);
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  transition-property: color, background-color, border;
  transition-timing-function: var(--sp-button-transition-timing-function);
  transition-duration: var(--sp-button-transition-duration);

  &.is-loading {
    cursor: wait;

    @keyframes loadingFade {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    color: var(--sp-button-disabled-color);
  }
}

.sp-button-icon {
  display: inline-block;
  height: var(--sp-button-icon-size);
  vertical-align: middle;
  transition-property: fill;
  transition-timing-function: var(--sp-button-transition-timing-function);
  transition-duration: var(--sp-button-transition-duration);
}

.sp-button-icon--start {
  margin-right: var(--sp-button-icon-margin);
}

.sp-button-icon--end {
  margin-left: var(--sp-button-icon-margin);
}

/* size */
.sp-button--extra-small {
  --sp-button-size: 24px;
  --sp-button-border-width: 1px;
}

.sp-button--small {
  --sp-button-size: 32px;
  --sp-button-border-width: 1px;
}

.sp-button--default {
  --sp-button-size: 40px;
  --sp-button-border-width: 1px;
}

.sp-button--large {
  --sp-button-size: 48px;
  --sp-button-border-width: 2px;
}

.sp-button--extra-large {
  --sp-button-size: 56px;
  --sp-button-border-width: 2px;
}

/* shape */
.sp-button--rectangle {
  border-radius: var(--sp-button-border-radius);
}

.sp-button--round {
  border-radius: 99999px;
}

.sp-button--circle {
  border-radius: 99999px;
  width: var(--sp-button-size);
}

/* interaction */
.sp-button--scale:not(.is-loading, .is-disabled) {
  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }
}

/* type */
.sp-button--contained {
  background-color: var(--sp-button-contained-bg-color);
  color: var(--sp-button-contained-color);
  fill: var(--sp-button-contained-color);
  padding: 0 var(--sp-button-contained-padding-x);
  border: none;

  &:hover:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-contained-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-contained-active-color);
  }

  &.is-loading {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--sp-button-loading-mask-color);
      animation: loadingFade var(--sp-button-loading-animation-duration)
        infinite alternate var(--sp-button-loading-timing-function);
    }
  }
}

.sp-button--contained.is-actived {
  color: var(--sp-button-contained-actived-color);
  fill: var(--sp-button-contained-actived-color);
  background-color: var(--sp-button-contained-actived-bg-color);

  &:hover:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-contained-actived-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-contained-actived-active-color);
  }
}

.sp-button--outlined {
  background-color: var(--sp-button-outlined-bg-color);
  color: var(--sp-button-outlined-color);
  fill: var(--sp-button-outlined-color);
  padding: 0 var(--sp-button-outlined-padding-x);
  border: var(--sp-button-border-width) solid
    var(--sp-button-outlined-border-color);

  &:hover:not(.is-disabled, .is-loading) {
    border-color: var(--sp-button-outlined-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    color: var(--sp-button-outlined-active-color);
    fill: var(--sp-button-outlined-active-color);
    border-color: var(--sp-button-outlined-active-color);
  }

  &.is-loading {
    animation: loadingFade var(--sp-button-loading-animation-duration) infinite
      alternate var(--sp-button-loading-timing-function);

    &::before {
      display: none;
    }
  }
}

.sp-button--outlined.is-actived {
  color: var(--sp-button-outlined-actived-color);
  fill: var(--sp-button-outlined-actived-color);
  background-color: var(--sp-button-outlined-actived-bg-color);
  border: none;

  &:hover:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-outlined-actived-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    background-color: var(--sp-button-outlined-actived-active-color);
  }
}

.sp-button--text {
  border: none;
  background-color: var(--sp-button-text-bg-color);
  color: var(--sp-button-text-color);
  fill: var(--sp-button-text-color);
  padding: 0 var(--sp-button-text-padding-x);

  &:hover:not(.is-disabled, .is-loading) {
    color: var(--sp-button-text-hover-color);
    fill: var(--sp-button-text-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    color: var(--sp-button-text-active-color);
    fill: var(--sp-button-text-active-color);
  }

  &.is-loading {
    animation: loadingFade var(--sp-button-loading-animation-duration) infinite
      alternate var(--sp-button-loading-timing-function);

    &::before {
      display: none;
    }
  }
}

.sp-button--text.is-actived {
  color: var(--sp-button-text-active-color);
  fill: var(--sp-button-text-active-color);

  &:hover:not(.is-disabled, .is-loading) {
    color: var(--sp-button-text-actived-hover-color);
    fill: var(--sp-button-text-actived-hover-color);
  }

  &:active:not(.is-disabled, .is-loading) {
    color: var(--sp-button-text-actived-active-color);
    fill: var(--sp-button-text-actived-active-color);
  }
}
